Requirements for this sprint
-login
-Sign up, select a role
-login takes user to a different dashboard with UI elements specific to them (i.e., all 3 user roles have different dashboards)
-show what is on the rubric, and do as much as possible
-recommend doing more than this
-meet with the client once a week (this is a must and does not count in the 4 meetings we must have)

recommend stack
- JavaScript and deployed on Azure (must use this)
- authentication  - Google
- database - MongoDB
- Express and NodeJS - backend framework
- Site needs to be deployed on Azure for sprint 1
These are the recommended technologies; however, we may conduct further research and adjust the stack if necessary.

advise
 
- Daily Meetings
Daily stand-up meetings will be held with team members only (no client involvement).
-Initial Design Meeting
Meet as soon as possible to:
Design system layouts (UI/structure)
Outline all core features
Identify how features are connected within the system
-User Roles Definition
The system will have three roles:
   - Admin
   - Member
   - Treasurer
Clearly define the responsibilities and permissions of each role within the system Authentication
All users (Admin, Member, Treasurer) will be able to:
Sign up
Log in